/*Cia as prifuckupinau su search bar'u, sorry :(*/

body {
  margin: 0;
  font-family: sans-serif;
}
.bolt-logo{
  height: 70px;
  width: 150px;
}
.input{
  text-decoration: none;
  outline: none;
  border: none;
  width: 100%;
  padding: 15px;
}
.top-container {
  background-color: #5F021F;
  padding: 30px;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 10vh;
  padding: 20px 10px;
  background: #5F021F;
  color: #f1f1f1;
}

.header a{
  float:left;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo{
  font-size:25px;
  font-weight: bold;
}

.header a:hover{
  background-color: #ddd;
  color:black;
}
.header-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-right li{
  margin: 5px;
}

@media screen and (max-width: 500px){
  .header a{
    float: none;
    display:block;
    text-align: left;
  }
  .header-right{
    float: none;
  }
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/*Nuo cia eina korteliu stiliai*/

.restaurants_container{
  height: 84vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.restaurants_container li{
  margin: 0;
  width: 30%;
  height: 55%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  background-color: #dddddd;

}
.restaurant{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  height: 100%;
  width: 100%;
}
.restaurant_sub_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;

}
.restaurant_sub_container li{
  margin: 0;
  width: 100%;
}
.restaurant_sub_container .image_container{
  height: 80%;
}
.image_bg{
  height: 100%;
  background-position: center center;
  background-size: cover;
}
.image1{
  background-image: url(restaurantes/Katlerio/KatlerioMain.jpg);
}
.image2{
  background-image: url(restaurantes/foxes/FoxesMain.jpg);
}
.image3{
  background-image: url(restaurantes/pizzaland/PizzalandMain.jpg);
}
.restaurant_sub_container .text_container{
  height: fit-content;
  padding: 0;

  width:100%;
  text-align: center;
}
.restaurant_sub_container .text_container h3{
  border-bottom: solid 1px #888888;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;

}
.restaurant_sub_container .subtext_container{
  height: 8%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.restaurant_sub_container .subtext_container h4{
  padding-top: 10px;
  font-size: 14px;
  color: #535353;
  margin-left: 10px;
  margin-right: 10px;
}

a{
  text-decoration: none;
  color: inherit;
}