@import url(Fonts.css);

/**.checkoutForm{

  display: flex;
  align-items: center;
  justify-content: center;
}

.Order{
  max-width: 50%;
}

.OrderHeader{
  border-radius: 3px;
  border: 2px solid black;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-sizing: border-box;
}

.checkoutList{

}

.Order li{
  border-radius: 2px;
  border: 0.5px solid black;

}
*/
body{
  background-color: #eeeeee;
}
.Order{
  width: 100%;
}
.checkoutForm{
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  align-items: center;
}
.OrderHeader h1{
  font-size:48px;
  margin: 25px 0px;
  text-align: center;
}
.CheckoutList{
  width: 100%;
}
.CheckoutList li{
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 5px; 
  justify-content: space-between;
}
.CheckoutList li > *{
  margin-top: 15px;

}


.CheckoutList li:nth-child(n+1){
  border-top: solid 1px #888888;
}
.totalElement{
  padding-top: 15px !important;
  font-weight: bold;

}
.OrderCounter{
  padding: 10px 10px;
  border-radius: 25px;
  margin-top: 5px;
  border: 2px solid #888888;
  background-color: #fff;
}
.ordered h2{
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}
.paymentOptions{
  background-color: #fff;
  border-radius: 25px;
  border: 2px solid #888888;
  margin-top: 15px;
  height: 250px;
  padding: 30px 15px;
}
.paymentOptions h2{
  font-weight: bold;
  margin-bottom: 15px;
}
.filler1{
  margin-top: 16vh;
}
.payment_option{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46%;
  height: 240px;
}
.payment-option-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.payment_option i{
  font-size: 60px;
}
.payment_option h3{
  margin-top: 35px;
}
.line{
  height:218px;
  border-right: solid 1px #888888;
}
.paymentOptions button,.confirm_button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.payment_option:hover{
  background-color: #888888;
}

.confirm_button{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #5F021F;
}
.line{
  border: solid 0.5px #5F021F;
  height: 0px;
  margin-bottom: 10px;
}