@font-face {
    font-family: 'KaushanScript-Regular';
    src: url(../Fonts/KaushanScript-Regular.woff);
}
@font-face {
    font-family: 'Montseratt';
    src: url(../Fonts/Montserrat-Regular.woff);
}
@font-face {
    font-family: 'Montseratt-bold';
    src: url(../Fonts/Montserrat-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto-Regular.woff);
}
@font-face {
    font-family: 'Roboto-bold';
    src: url(../Fonts/Roboto-Bold.woff);
    font-weight: bold;
}
